p {
  margin-bottom: 0px;
}
.label-sm {
  font-size: 13px;
}
.input-sm::placeholder {
  font-size: 12px;
}
.text-sm-danger {
  font-size: 11px;
}



  h4 {
    font-size: 18px !important;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
  }

  h4:hover {
    color: rgb(165, 0, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeUp;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}



    .hero-bg {
      background-image: url("/assets/images/about/about_Back.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
    }



.hero-bg::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background: linear-gradient(45deg,
      //     rgba(148, 0, 0, 0.9),
      //     rgba(0, 82, 145, 0.9));
  background: linear-gradient(45deg, rgba(148, 0, 0, 0.9), rgb(255 165 0 / 59%));

      opacity: 0.85;
    }

    .hero-gradient {
      background: #9b0000;
    }

    .contact-card {
      background-color: white;
      position: relative;
      border: 1px solid #e5e7eb;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border-color: #9b0000;
      box-shadow: 0 0 0 2px rgba(155, 0, 0, 0.1);
    }

    .form-input {
      transition: all 0.3s ease;
    }

    .form-input:hover {
      border-color: #9b0000;
    }

    .submit-btn {
      transition: all 0.3s ease;
    }

    .submit-btn:hover {
      background-color: #800000;
    }



.event-name{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #333;
        letter-spacing: 1px;
}

.event-name1{
    font-size: 13;
    font-weight: 600;
    margin: 0;
    color: #333;
}
.form-control {
    font-size: 11px !important;
    color: #717171 !important;
    background-color: #fff !important;
    border: 1px solid #a50000 !important;
    border-radius: 3px !important;
    transition: none !important;
    padding: 5px 8px !important;
    min-height: 30px;
}


.form-textarea {
padding: 5px 8px !important;
background-color: white !important;
}

textarea::placeholder{
  color:  #595c5f !important;
  font-size: 0.6rem;
}
@media (max-width: 992px) {
  .ptop{
    padding-top: 0px !important;
  }
}

@media (min-width: 993px) {
  .ptop{
    padding-top: 5rem !important;
  }
}