<body class="d-flex flex-column h-100">
    <!-- <app-navbar></app-navbar> -->
	<div class="wrapper wrapMT">
<div class="event-dt-block ptop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content pt-0 p-2 mt-5 mt-lg-0" style="margin-top: 0px !important;padding-bottom: 30px !important;">
                    <div class="tab-pane fade show active" id="sellers" role="tabpanel">
                        <div class="privacy-main-title">
                            <h4>Razorpay Policy</h4>
                        </div>
                        <div class="privacy-content">
                            <p>Ticket Khidakee does not charge any listing fee to the producer/organiser for ticket shows hosted on its website.</p>
                            <p>Ticket Khidakee will charge 8-10% amount to the audience on and above the ticket rate towards Internet Handling Charges and Payment Gateway Fees.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
