<div class="not-found-container">
  <div class="not-found-box">
    <!-- <h1 class="brand-title">Ticket Khidki</h1> -->



    <div class="relative z-10">
      <div class="flex items-center justify-center" style="margin-bottom: 10px">
        <div class="w-24 h-12 flex items-center justify-center text-[#af0404]">
          <!-- <i class="ri-error-warning-line ri-4x"></i> -->
          <i class="bi bi-exclamation-triangle-fill icon-style"></i>
        </div>
      </div>

      <h2 class="font-bold mb-2 text-[#af0404]">404</h2>
      <h4 class="font-semibold" style="margin-bottom: 12px">Page Not Found</h4>

      <p class="text-md text-gray-600 mb-4 max-w-lg mx-auto" style="font-size: 13px !important">
        Oops! The page you're looking for doesn't exist. Let's get you back on
        track to find your perfect event.
      </p>

      <div class="flex justify-center">
        <a href="/"
          class="home-button bg-[#af0404] text-white px-6 py-2.5 rounded-button font-medium text-sm whitespace-nowrap transition-all duration-300 shadow-md">
          Go Back to Home Page
        </a>
      </div>
    </div>
  </div>
</div>
