<!-- <div *ngIf="isLoading" class="loader-container show">
  <div class="loader-content text-center">

    <img src="assets/Animation.gif" alt="Ticket Khidakee Logo" class="animated-logo" />
  </div>
</div> -->


<div *ngIf="isLoading" [ngClass]="isMobile ? '' : 'wrapper'">
  <div class=" p-3" style="width: 100%;">
    <div class="skeleton-loader" style="width: 100%;">
      <div class="skeleton skeleton-img" style="width: 100%; height: 250px;"></div>
    </div>
  </div>


  <div class="" style="width: 100%;display: flex;justify-content: space-evenly;">
    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 250px;"></div>
    </div>
    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 250px;"></div>
    </div>
    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 250px;"></div>
    </div>
    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 250px;"></div>
    </div>
  </div>

  <div class="" style="width: 100%;display: flex;justify-content: space-evenly;">
    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 300px;"></div>
    </div>
    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 300px;"></div>
    </div>
    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 300px;"></div>
    </div>
    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
      <div class="skeleton skeleton-img" style=" height: 300px;"></div>
    </div>
  </div>

</div>

<div [ngClass]="isMobile ? '' : 'wrapper'" *ngIf="!isLoading">
  <div style="width: 100%" *ngIf="mainbannersessiondatadyanamic?.SECTION_DATA.length">
    <!-- <div style="overflow: hidden; position: relative;">
    <owl-carousel-o #owlCarousel [options]="customOptions" (changed)="onSlideChanged($event)"
      (initialized)="onCarouselInitialized($event)">
      <ng-container *ngFor="let banner of mainbannersessiondatadyanamic.SECTION_DATA">
        <ng-template carouselSlide>
          <div class="item custom-carousel-item" (click)="gotoroutube(banner)" [ngStyle]="{
          'background-image': 'url(' + retriveimgUrl + 'bannerImages/' + banner.IMG_URL + ')',
          'background-size': 'cover',
          'background-position': 'center',
          height: isMobile ? '170px' : '250px',
          'border-radius': '10px',
          margin: '3px'
        }"></div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    </div> -->

    <div style="overflow: hidden; position: relative;">
      <owl-carousel-o #owlCarousel [options]="customOptions" (changed)="onSlideChanged($event)"
        (initialized)="onCarouselInitialized($event)">
        <ng-container *ngFor="let banner of mainbannersessiondatadyanamic.SECTION_DATA">
          <ng-template carouselSlide>
            <div class="item custom-carousel-item" (click)="gotoroutube(banner)" [ngStyle]="{
            'background-image': 'url(' + retriveimgUrl + 'bannerImages/' + banner.IMG_URL + ')',
            'background-size': '100% 100%',
            'background-position': 'center',
            height: isMobile ? '150px' : '270px',
            'border-radius': '10px',
            margin: '3px'
          }"></div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <!-- <owl-carousel-o #owlCarousel [options]="customOptions" (translated)="onSlideTranslated($event)">
      <ng-container *ngFor="let banner of mainbannersessiondatadyanamic.SECTION_DATA">
        <ng-template carouselSlide>
          <div class="item custom-carousel-item" (click)="gotoroutube(banner)" [ngStyle]="{

              'background-image':
                'url(' + retriveimgUrl + 'bannerImages/' + banner.IMG_URL + ')',
              'background-size': 'cover',
              'background-position': 'center',
              height: isMobile?'170px' :'250px',
              'border-radius': '10px',
              margin: '3px'
            }"></div>
        </ng-template>
      </ng-container>
    </owl-carousel-o> -->
  </div>

  <ng-container *ngIf="!loading">
    <ng-container *ngIf="sessiondatadyanamicOnTop?.length > 0">
      <ng-container *ngFor="let section of sessiondatadyanamicOnTop; let i = index">
        <ng-container *ngTemplateOutlet="dynamicSection; context: { $implicit: section, index: i }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="listofallcategorydata?.length" class="explore-events" style="padding: 0px 0px">
    <div class="container-fluid" style="padding: 0px !important">
      <div class="row mopadding" style="margin: 0px; background-color: transparent">

        <div class="col-xl-12 col-lg-12 col-md-12 px-4">


          <div class="section-title">
            <span style="text-transform: uppercase; font-size: 16px">All Events</span>

          </div>

        </div>



        <div class="col-xl-12 col-lg-12 col-md-12 px-4">
          <div class="event-filter-items">
            <div data-ref="event-filter-content">
              <div class="event-scroll-wrapper position-relative">

                <!-- <button *ngIf="!isMobile && scrollButtonVisibility[i]?.left" class="carousel-control-prev scroll-arrow"
                  type="button" (click)="scrollLeft(i)">
                  <span class="carousel-control-prev-icon"></span>
                </button> -->
                <!-- (scroll)="onScroll(i)" -->


                <div
                  [ngClass]="showallevent &&  ((isMobile && listofallcategorydata?.length > 6) || (!isMobile && listofallcategorydata?.length > 12) ) ? 'row heightformobile' : 'row'"
                  #scrollContainerrrrrrrrrrrrrrr
                  (scroll)="showallevent? onScrolllllll(scrollContainerrrrrrrrrrrrrrr):''">
                  <div [ngClass]="
                  isMobile
                    ? 'col-6 col-xl-2 col-lg-3 col-md-3 col-sm-6 px-2'
                    : ' col-6 col-xl-2 col-lg-3 col-md-3 col-sm-6 px-2 '
                " *ngFor="let event of listofallcategorydata; let j = index">

                    <div class="main-card mt-3" (click)="onEventClick(event)">
                      <div class="event-thumbnail">
                        <div class="thumbnail-img" [style.opacity]="event.imageLoaded ? 0 : 1" style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 350px;
      background-color: #e0e0e0;

    "></div>
                        <a class="thumbnail-img">

                          <img [src]="retriveimgUrl + 'eventImages/' + event.EVENT_IMAGE" [alt]="event.EVENT_NAME"
                            (load)="onImageLoad(event)" (error)="onImageError($event)"
                            [style.opacity]="event.imageLoaded ? 1 : 0" class="img-fluid thumbnail-img" style="
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
    " />
                        </a>

                        <!--
                        <span *ngIf="memberId" class="bookmark-icon" [title]="
                                  event.isBookmarked ? 'Loading...' : 'Bookmark'
                                " [ngClass]="{
                                  bookmarked: getbookmarked(event._id),
                              disabled: event.isBookmarked
                                }" (click)="
                                  !event.isBookmarked && toggleBookmark(event._id,event)
                                ">
                          <ng-container *ngIf="event.isBookmarked; else bookmarkIcon">
                            <i class="fa fa-spinner fa-spin spinner-icon"></i>
                          </ng-container>
                          <ng-template #bookmarkIcon></ng-template>
                        </span> -->
                        <span class="bookmark-icon" *ngIf="event.IS_PROMOTED">Promoted</span>
                      </div>
                    </div>
                    <div class="event-content" (click)="onEventClick(event)">

                      <div class="event-row">
                        <div class="event-half event-date">
                          <span class="fontsizee1">
                            <i class="fa-solid fa-calendar-day"></i>
                            {{ formatShowDates(event?.startDate + " TO " + event?.endDate,
                            event?.schedules[0]?.SHOW_TIME,'1') }}
                          </span>
                        </div>
                        <div class="event-half event-genre">
                          <a class="text-dark badgee clamp-text-for-tags fontsizee"
                            *ngIf="event != undefined && event.SUB_CATEGORY_NAME" [title]="event.SUB_CATEGORY_NAME">
                            <!-- <span> -->
                            {{ getFirstGenre2(event.SUB_CATEGORY_NAME) }}
                            <!-- </span> -->
                          </a>
                          <a *ngIf="!event.SUB_CATEGORY_NAME && event?.GENRE_NAMES" [title]="event.GENRE_NAMES"
                            class="text-dark badgee clamp-text-for-tags fontsizee">
                            <!-- <span  *ngIf="event != undefined && event.GENRE_NAMES"> -->
                            {{ getFirstGenre(event.GENRE_NAMES) }}
                            <!-- </span> -->
                          </a>
                        </div>
                      </div>
                      <!-- <span style="
                                font-size: 11px;
                                color: #7c5353;
                                font-weight: 600;
                              ">

                        <i class="fa-solid fa-calendar-day"></i>

                        {{
                        formatShowDates(
                        event?.startDate + " TO " + event?.endDate,
                        event?.schedules[0]?.SHOW_TIME,'1'
                        )
                        }}
                      </span> -->

                      <a class="event-title" [title]="event.EVENT_NAME" style="
                                min-height: 20px;
                            display: block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                cursor: pointer;
                                font-size: 12px !important;
                              " [routerLink]="
                                getEventRouterLink('', event)
                              ">
                        {{ event.EVENT_NAME }}
                      </a>

                      <div *ngIf="event.VENUE_NAME" style="font-size: 10px !important;color: #313131 !important;"
                        class="subnamm" [title]="event.VENUE_NAME">
                       {{ event.VENUE_COUNT==1?event.VENUE_NAME:'Multiple Venues' }}
                      </div>
                      <div *ngIf="event.LANGUAGE_NAMES" style="font-size: 9px !important;" class="subnamm"
                        [title]="event.LANGUAGE_NAMES">
                        {{
                        event.LANGUAGE_NAMES.split(",")
                        .slice(0, 2)
                        .join(", ")
                        }}
                      </div>
                      <div *ngIf="!event.LANGUAGE_NAMES && event.TAGS_NAMES" style="font-size: 9px !important;"
                        class="subnamm" [title]="event.TAGS_NAMES">
                        {{
                        event.TAGS_NAMES.split(",")
                        .slice(0, 2)
                        .join(", ")
                        }}
                      </div>
                      <!-- <div [title]="event.SUB_CATEGORY_NAME" *ngIf=" event.SUB_CATEGORY_NAME">
                        <a *ngIf="
                                  event != undefined && event.SUB_CATEGORY_NAME
                                ">
                          <span class="text-dark badgee" style=" font-size: 8px;" [title]="event.SUB_CATEGORY_NAME">
                            {{ getFirstGenre2(event.SUB_CATEGORY_NAME) }}
                          </span> </a><span *ngIf="hasMoreGenres(event.SUB_CATEGORY_NAME)" style="
                                  font-size: 8px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                      </div>
                      <div [title]="event.GENRE_NAMES" *ngIf="!event.SUB_CATEGORY_NAME && event.GENRE_NAMES">
                        <a *ngIf="event != undefined && event.GENRE_NAMES">
                          <span class="text-dark badgee" style=" font-size: 8px;" [title]="event.GENRE_NAMES">
                            {{ getFirstGenre(event.GENRE_NAMES) }}
                          </span> </a><span *ngIf="hasMoreGenres(event.GENRE_NAMES)" style="
                                  font-size: 8px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                      </div> -->

                    </div>



                  </div>
                  <div *ngIf="isLoadingforcrollll" class="" style="width: 100%;display: flex;justify-content: space-evenly;">
                    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                    <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                    <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '15%'}">
                      <div class="skeleton skeleton-img" style=" height: 200px;"></div>
                    </div>
                  </div>
                </div>
                <!-- <button *ngIf="!isMobile && scrollButtonVisibility[i]?.right"
                  class="carousel-control-next scroll-arrow left" type="button" (click)="scrollRight(i)">
                  <span class="carousel-control-next-icon"></span>
                </button> -->
              </div>
            </div>
          </div>

        </div>

        <!-- <div class="col-xl-12 col-lg-12 col-md-12 px-4" style="text-align: end;padding: 10px;"
          *ngIf="((isMobile && listcount > 6) || (!isMobile && listcount > 12) ) && !showallevent">
          <a style="color: #a50000 !important ; cursor: pointer;" (click)="viewallevents()">View More</a>
        </div> -->

      </div>
    </div>
  </div>



  <ng-container *ngIf="!loading">
    <ng-container *ngIf="sessiondatadyanamic?.length == 0 && listofallcategorydata?.length == 0">
      <div class="text-center m-5" style="
          padding: 60px 20px;
          opacity: 0.7;
      display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        ">
        <img src="assets/nodata1.png" alt="No data" class="img-fluid nodata-img" />
        <p class="mt-3 fs-5">No data available</p>
      </div>
    </ng-container>

    <ng-container *ngIf="sessiondatadyanamicBelow?.length > 0">
      <ng-container *ngFor="let section of sessiondatadyanamicBelow; let i = index">
        <ng-container
          *ngTemplateOutlet="dynamicSection; context: { $implicit: section, index: i + (sessiondatadyanamicOnTop?.length || 0) }"></ng-container>
      </ng-container>
    </ng-container>

    <div *ngIf="loadingnewww">
      <div class="" style="width: 100%;display: flex;justify-content: space-evenly;">
        <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
          <div class="skeleton skeleton-img" style=" height: 300px;"></div>
        </div>
        <div class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
          <div class="skeleton skeleton-img" style=" height: 300px;"></div>
        </div>
        <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
          <div class="skeleton skeleton-img" style=" height: 300px;"></div>
        </div>
        <div *ngIf="!isMobile" class="skeleton-loader" [ngStyle]="{'width': isMobile ? '100%' : '20%'}">
          <div class="skeleton skeleton-img" style=" height: 300px;"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #dynamicSection let-section let-i="index">
    <div class="row mopadding" style="margin: 0px; background-color: transparent"
      *ngIf="section.SECTION_TYPE == 'B' && section['SECTION_DATA'].length">
      <owl-carousel-o [options]="customOptions222" #carouselRefs
        *ngIf="section.SECTION_TYPE === 'B' && section.SECTION_DATA?.length">
        <ng-container *ngFor="let banner of section.SECTION_DATA">
          <ng-template carouselSlide>
            <div (click)="gotoroutube(banner)" class="item" [ngStyle]="{
  'background-image': 'url(' + retriveimgUrl + 'bannerImages/' + banner.IMG_URL + ')',
  'background-size': '100% 100%',
  'background-repeat': 'no-repeat',
  'background-position': 'center',
  height: isMobile ? '150px' : '250px',
  'border-radius': '16px',
  margin: '5px'
}">

            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div *ngIf="section.SECTION_TYPE === 'E' && section['SECTION_DATA'].length" class="explore-events"
      style="padding: 0px 0px">
      <div class="container-fluid" style="padding: 0px !important">
        <div class="row mopadding" style="margin: 0px; background-color: transparent">

          <div class="col-xl-12 col-lg-12 col-md-12 px-4">


            <div class="section-title">
              <span style="text-transform: uppercase; font-size: 16px">{{
                section.TITLE
                }}</span>
              <!-- <a
                    [routerLink]="'/menu/plays'"
                    class="see-all-link"
                    style="color: rgb(255, 90, 90); cursor: pointer"
                  >
                    See All <i class="fa-solid fa-arrow-right ms-1"></i>
                  </a> -->
            </div>

          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 px-4">

            <p class="subtitle-mainnnn" *ngIf="section?.DESCRIPTION" style="margin-bottom: 0px;">{{
              section.DESCRIPTION }}</p>


          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 px-4">
            <div class="event-filter-items">
              <div data-ref="event-filter-content">
                <div class="event-scroll-wrapper position-relative">
                  <!-- <button *ngIf="section.SECTION_DATA.length > 5 && !isMobile"
                        class="carousel-control-prev scroll-arrow" type="button" (click)="scrollLeft(i)"
                        data-bs-slide="prev ">
                        <span class="carousel-control-prev-icon"></span>
                      </button> -->
                  <!-- LEFT ARROW -->
                  <button *ngIf="scrollButtonVisibility[i]?.left"
                    class="carousel-control-prev scroll-arrow" type="button" (click)="scrollLeft(i)">
                    <span class="carousel-control-prev-icon"></span>
                  </button>
                  <!-- <button *ngIf="section.SECTION_DATA.length > 2 && isMobile"
                        class="carousel-control-prev scroll-arrow" type="button" (click)="scrollLeft(i)"
                        data-bs-slide="prev ">
                        <span class="carousel-control-prev-icon"></span>
                      </button> -->

                  <div #scrollContainer class="event-scroll-container d-flex flex-nowrap" (scroll)="onScroll(i, section)">
                    <!-- class="event-card-wrapper" -->
                    <div [ngClass]="
                  isMobile
                    ? 'col-6 col-xl-2 col-lg-3 col-md-3 col-sm-6 px-2'
                    : ' col-6 col-xl-2 col-lg-3 col-md-3 col-sm-6 px-2 '
                " *ngFor="let event of section.SECTION_DATA; let j = index">
                      <div class="main-card mt-3" (click)="onEventClick(event)">
                        <div class="event-thumbnail">
                          <div class="thumbnail-img" [style.opacity]="event.imageLoaded ? 0 : 1" style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 350px;
      background-color: #e0e0e0;

    "></div>
                          <a class="thumbnail-img">
                            <!-- {{  event.imageUrl}} -->
                            <!-- <img
                                  style="
                                    border-bottom-left-radius: 0px !important;
                                    border-bottom-right-radius: 0px !important;
                                    cursor: pointer;
                                  "
                                  [src]="'assets/Play Photos/' + event.imageUrl"
                                  [alt]="event.PLAY_NAME || event.NAME"
                                  (error)="onImageError($event)"
                                  class="img-fluid thumbnail-img"
                                /> -->

                            <!-- <img style="
                                    border-bottom-left-radius: 0px !important;
                                    border-bottom-right-radius: 0px !important;
                                    cursor: pointer;
                                  " [src]="
                                    retriveimgUrl +
                                    'eventImages/' +
                                    event.EVENT_IMAGE
                                  " [alt]="event.EVENT_NAME" (error)="onImageError($event)"
                                  class="img-fluid thumbnail-img" /> -->


                            <!-- <img src="assets/movie_skel.jpg" alt="loading" class="img-fluid thumbnail-img"
                                  [style.opacity]="event.imageLoaded ? 0 : 1"
                                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transition: opacity 0.3s ease-in-out;" /> -->

                            <!-- Actual image -->
                            <img [src]="retriveimgUrl + 'eventImages/' + event.EVENT_IMAGE" [alt]="event.EVENT_NAME"
                              (load)="onImageLoad(event)" (error)="onImageError($event)"
                              [style.opacity]="event.imageLoaded ? 1 : 0" class="img-fluid thumbnail-img" style="
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
    " />








                          </a>

                          <!-- <span
                                *ngIf="memberId && !addbookmarkspin"
                                class="bookmark-icon"

                                title="Bookmark"
                                [ngClass]="{
                                  bookmarked: getbookmarked(
                                    event._id
                                  )
                                }"
                                (click)="toggleBookmark(event._id)"
                              >
                              </span> -->
                          <!-- <span *ngIf="memberId" class="bookmark-icon" [title]="
                                  event.isBookmarked ? 'Loading...' : 'Bookmark'
                                " [ngClass]="{
                                  bookmarked: getbookmarked(event._id),
                                  disabled: event.isBookmarked
                                }" (click)="
                                  !event.isBookmarked && toggleBookmark(event._id,event)
                                ">
                                <ng-container *ngIf="event.isBookmarked; else bookmarkIcon">
                                  <i class="fa fa-spinner fa-spin spinner-icon"></i>
                                </ng-container>
                                <ng-template #bookmarkIcon></ng-template>
                              </span> -->
                          <span class="bookmark-icon" *ngIf="event.IS_PROMOTED">Promoted</span>
                        </div>
                      </div>
                      <div class="event-content" (click)="onEventClick(event)">
                        <div class="event-row">
                          <div class="event-half event-date">
                            <span class="fontsizee1">
                              <i class="fa-solid fa-calendar-day"></i>
                              {{
                              formatShowDates(
                              event?.SHOW_START_DATES,
                              event?.SHOW_TIME,'2'
                              )
                              }}
                            </span>
                          </div>
                          <div class="event-half event-genre">
                            <a *ngIf="event != undefined && event.SUB_CATEGORY_NAME" [title]="event.SUB_CATEGORY_NAME"
                              class="text-dark badgee clamp-text-for-tags fontsizee">
                              <!-- <span> -->
                              {{ getFirstGenre2(event.SUB_CATEGORY_NAME) }}
                              <!-- </span> -->
                            </a>
                            <a *ngIf="!event.SUB_CATEGORY_NAME && event?.GENRE_NAMES" [title]="event.GENRE_NAMES"
                              class="text-dark badgee clamp-text-for-tags fontsizee">
                              <!-- <span  *ngIf="event != undefined && event.GENRE_NAMES"> -->
                              {{ getFirstGenre(event.GENRE_NAMES) }}
                              <!-- </span> -->
                            </a>
                          </div>
                        </div>
                        <!-- <span style="
                                font-size: 12px;
                                color: #7c5353;
                                font-weight: 600;
                              ">
                            
                              <i class="fa-solid fa-calendar-day"></i>

                              {{
                              formatShowDates(
                              event?.SHOW_START_DATES,
                              event?.SHOW_TIME,'2'
                              )
                              }}
                            </span> -->

                        <a class="event-title" [title]="event.EVENT_NAME" style="
                                min-height: 20px;
                                display: block;
                                white-space: nowrap;
                                overflow: hidden;font-size: 12px !important;
                                text-overflow: ellipsis;
                                cursor: pointer;
                              " [routerLink]="
                                getEventRouterLink(section.TITLE, event)
                              ">
                          {{ event.EVENT_NAME }}
                        </a>
                        <div *ngIf="event.VENUE_NAME" style="font-size: 10px !important;color: #313131 !important;"
                          class="subnamm" [title]="event.VENUE_NAME">
                          {{event.VENUE_NAME}}
                        </div>
                        <!-- <div style="font-size: 10px !important;" *ngIf="
                                event.CATEGORY_ID == 2 || event.CATEGORY_ID == 3
                              " class="subnamm" [title]="event.LANGUAGE_NAMES">
                              {{
                              event.LANGUAGE_NAMES.split(",")
                              .slice(0, 2)
                              .join(", ")
                              }}
                            </div>
                            <div style="font-size: 10px !important;" *ngIf="event.CATEGORY_ID == 4" class="subnamm"
                              [title]="event.TAGS_NAMES">
                              {{
                              event.TAGS_NAMES.split(",")
                              .slice(0, 2)
                              .join(", ")
                              }}
                            </div>

                            <div *ngIf="event.CATEGORY_ID == 2" [title]="event.GENRE_NAMES">
                              <a *ngIf="event != undefined && event.GENRE_NAMES">
                                <span class="text-dark badgee" style=" font-size: 9px;" [title]="event.GENRE_NAMES">
                                  {{ getFirstGenre(event.GENRE_NAMES) }}
                                </span> </a><span *ngIf="hasMoreGenres(event.GENRE_NAMES)" style="
                                  font-size: 9px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                            </div>

                            <div *ngIf="
                                event.CATEGORY_ID == 3 || event.CATEGORY_ID == 4
                              " [title]="event.SUB_CATEGORY_NAME">
                              <a *ngIf="
                                  event != undefined && event.SUB_CATEGORY_NAME
                                ">
                                <span class="text-dark badgee" style=" font-size: 9px;"
                                  [title]="event.SUB_CATEGORY_NAME">
                                  {{ getFirstGenre(event.SUB_CATEGORY_NAME) }}
                                </span> </a><span *ngIf="hasMoreGenres(event.SUB_CATEGORY_NAME)" style="
                                  font-size: 9px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                            </div> -->


                        <div *ngIf="event.LANGUAGE_NAMES" style="font-size: 10px !important;" class="subnamm"
                          [title]="event.LANGUAGE_NAMES">
                          {{
                          event.LANGUAGE_NAMES.split(",")
                          .slice(0, 2)
                          .join(", ")
                          }}
                        </div>
                        <div *ngIf="!event.LANGUAGE_NAMES && event.TAGS_NAMES" style="font-size: 10px !important;"
                          class="subnamm" [title]="event.TAGS_NAMES">
                          {{
                          event.TAGS_NAMES.split(",")
                          .slice(0, 2)
                          .join(", ")
                          }}
                        </div>
                        <!-- <div [title]="event.SUB_CATEGORY_NAME" *ngIf="event.SUB_CATEGORY_NAME">
                              <a *ngIf="
                                  event != undefined && event.SUB_CATEGORY_NAME
                                ">
                                <span class="text-dark badgee" style=" font-size: 10px;"
                                  [title]="event.SUB_CATEGORY_NAME">
                                  {{ getFirstGenre2(event.SUB_CATEGORY_NAME) }}
                                </span> </a><span *ngIf="hasMoreGenres(event.SUB_CATEGORY_NAME)" style="
                                  font-size: 10px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                            </div>

                            <div [title]="event.GENRE_NAMES" *ngIf="!event.SUB_CATEGORY_NAME && event.GENRE_NAMES">
                              <a *ngIf="event != undefined && event.GENRE_NAMES">
                                <span class="text-dark badgee" style=" font-size: 10px;" [title]="event.GENRE_NAMES">
                                  {{ getFirstGenre(event.GENRE_NAMES) }}
                                </span> </a><span *ngIf="hasMoreGenres(event.GENRE_NAMES)" style="
                                  font-size: 10px;
                                  color: #9c9ea6 !important;
                                ">+ More</span>
                            </div> -->




                      </div>
                    </div>
                  </div>

                  <!-- <button *ngIf="section.SECTION_DATA.length > 5 && !isMobile"
                        class="carousel-control-next scroll-arrow left" type="button" (click)="scrollRight(i)"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </button> -->



                  <!-- RIGHT ARROW -->
                  <button *ngIf="scrollButtonVisibility[i]?.right || sectionLoadState[i]?.loading"
                    class="carousel-control-next scroll-arrow left" type="button" (click)="scrollRight(i, section)"  >
                    <span *ngIf="!sectionLoadState[i]?.loading" class="carousel-control-next-icon"></span>
                    <i *ngIf="sectionLoadState[i]?.loading" class="fa fa-spinner fa-spin" style="color: white; font-size: 16px;"></i>
                  </button>

                  <!-- <button *ngIf="section.SECTION_DATA.length > 2 && isMobile"
                        class="carousel-control-next scroll-arrow" type="button" (click)="scrollRight(i)"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </button> -->
                </div>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>