li {
    margin-bottom: 2px;
}

// .privacy-main-title h4 {
//     font-size: 24px;
//     font-weight: 600;
//     margin-bottom: 25px;
// }

h5{
    font-weight: bold;
    margin-bottom: 10px;
}


@media(max-width:992px) {
    .p-80 {
    padding: 20px 0 64px;
}

    // .wrapper {
    //     margin-top: 20px;
    // }
    }

@media(max-width:768px) {
    .p-80 {
    padding: 10px 0 64px;
}

    // .wrapper {
    //     margin-top: 20px;
    // }
    }
a:hover{
    color: #a50000 !important;
     font-weight: 800;
}
@media (max-width: 900px) {
  .ptop{
    padding-top: 0px !important;
  }

  .wrapMT{
    margin-top: 20px !important;
  }
}

@media (min-width: 901px) {
  .ptop{
    padding-top: 64px !important;
  }

}