<body class="d-flex flex-column h-100" style="margin-top: 0px;">
    <div class="wrapper wrapMT">
        <div class="event-dt-block ptop">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content pt-0 p-2 mt-5 mt-lg-0" style="margin-top: 0px !important;">
                            <div class="tab-pane fade show active" id="sellers" role="tabpanel">
                                <div class="privacy-main-title">
                                    <h4>Terms &amp; Conditions</h4>
                                    <p style="font-weight: 600;">Effective Date: 1 Aug 2025</p>
                                    <p style="font-weight: 600;">Last Updated: 1 Aug 2025</p>
                                </div>
                                <div class="privacy-content">

                                    <p>Welcome to Ticket Khidakee. 'Ticket Khidakee' is an online ticket booking
                                        application for entertainment shows &amp; events. It also provides the event
                                        organisers with hosting and marketing their events online globally. The detailed
                                        terms and conditions are mentioned below. One must read them carefully as they
                                        are the legal contract and governs the use of service of Ticket Khidakee.</p>

                                    <h5>ACCEPTANCE OF TERMS AND POLICY OF USE</h5>
                                    <p>By browsing the content of Ticket Khidakee service, you accept and agree to be
                                        bound by these terms of use. Ticket Khidakee reserves the right, from time to
                                        time, to change these terms of use with or without any further notice to you.
                                    </p>

                                    <h5>PRIVACY AND COMMUNICATION PREFERENCES</h5>
                                    <p>Any personal information submitted through Ticket Khidakee is subject to our
                                        privacy policy which is incorporated herein. By agreeing our terms of use and
                                        privacy policy you are consenting to receive communication from our side. For
                                        example Ticket Khidakee may send you Email about updates, offers, promotional
                                        announcements, and surveys via email or any other contact details which are
                                        provided.</p>

                                    <h5>PAYMENT TERMS</h5>
                                    <p>Payments for the Services offered by Ticket Khidakee shall be on a 100% advance
                                        basis. The payment for service/tickets once subscribed/brought to by the user is
                                        not refundable and any amount paid shall stand appropriated. Ticket Khidakee
                                        gives no guarantees of server uptime or applications working properly. Ticket
                                        Khidakee reserves its right to amend/alter or change all or any disclaimers or
                                        terms of agreements at any time without any prior notice. All terms/disclaimers
                                        whether specifically mentioned or not shall be deemed to be included if any
                                        reference is made to them.</p>

                                    <h5>TERMINATION</h5>
                                    <p>Following are the specifics of the termination policies</p>
                                    <p><strong>Mutual rights of termination:</strong> You may process for the
                                        termination of your subscription, with or without any notice to Ticket Khidakee.
                                        We reserve the right to terminate or restrict your use of our service, without
                                        notice, for any or no reason whatsoever.</p>
                                    <p><strong>Misuse of services:</strong> Ticket Khidakee bears the right to restrict
                                        or suspend the subscription whose acts refers to misusing of the services.</p>
                                    <ul style="list-style-type: disc; margin-left: 20px;">
                                        <li>Creating multiple or false profiles</li>
                                        <li>Using services without authorization of Ticket Khidakee</li>
                                        <li>Activities which do not come under the policy of terms of use</li>
                                        <li>Or any other activities which Ticket Khidakee finds incorrect</li>
                                    </ul>

                                    <h5>HOW OUR SERVICE WORKS</h5>
                                    <p>Through the application, 'Ticket Khidakee' shall provide the user information,
                                        pricing, availability and reservations for booking tickets for entertainment
                                        shows, workshops, concerts and events listed across various cities in India and
                                        abroad.</p>
                                    <ul style="list-style-type: disc; margin-left: 20px;">
                                        <li>The organiser of the event provides Ticket Khidakee with all the information
                                            regarding the event.</li>
                                        <li>The organiser can himself upload all the event details and share them to the
                                            team of Ticket Khidakee for upload.</li>
                                        <li>In case of Online events, the organiser can use the online service provided
                                            by Ticket Khidakee or provide Ticket Khidakee with the service from his end.
                                        </li>
                                        <li>From the User end, they can view various events/shows listed on Ticket
                                            Khidakee.</li>
                                        <li>Users can book single or multiple tickets from the various events/shows
                                            listed on Ticket Khidakee.</li>
                                        <li>The users can avail discounts if specified for the respective events.</li>
                                        <li>Once the user makes payment and ticket is booked, the user will receive the
                                            ticket confirmation on registered email id.</li>
                                        <li>Using this email confirmation, the user can watch &amp; enjoy the event/show
                                            for which he has booked the ticket.</li>
                                    </ul>

                                    <h5>GOVERNING LAW</h5>
                                    <p>By accessing Ticket Khidakee you agree that the laws prevailing in India shall be
                                        the governing laws in all matters relating to Ticket Khidakee as well as these
                                        terms and conditions.</p>

                                    <h5>IDENTITY PROTECTION</h5>
                                    <p>You are responsible for updating and maintaining the truth and accuracy of the
                                        information you provide to us relating to your account. You are also responsible
                                        for maintaining the confidentiality of your account and password and for
                                        restricting access to your computer or Ticket Khidakee ready device. Ticket
                                        Khidakee does not bear any responsibility of validating duplicate/similar
                                        Locations listed by individuals on the website.</p>

                                    <h5>BUDGETS AND PRICING</h5>
                                    <p>Price with which the events are listed on the website may vary with respect to
                                        the changes and updation. Ticket Khidakee does not hold any responsibility for
                                        any inaccurate or fallacious display of price quoted by the event organisers.
                                    </p>

                                    <p><strong>TICKET KHIDAKEE RESERVES THE RIGHT TO CHANGE THE TERMS OF USAGE AND OTHER
                                            CONDITIONS AS AND WHEN REQUIRED.</strong></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- <h5>Contact and Support</h5>
                                    <p style="margin-bottom: 10px;">If you have questions or need help regarding your
                                        membership, please contact:</p>
                                    <p style="margin-bottom: 7px;">Support Team</p>
                                    <p style="margin-bottom: 10px;">Email : contact@ticketkhidakee.com</p>
                                    <p style="margin-bottom: 10px;">Phone : 7447405844</p>
                                    <p style="margin-bottom: 10px;">Website : <a href="https://www.ticketkhidakee.com"
                                            target="_blank" style="color: #007bff; text-decoration: none"
                                            onmouseover="this.style.textDecoration='underline'"
                                            onmouseout="this.style.textDecoration='none'"><i class="fas fa-globe"
                                                style="margin-right: 5px"></i> www.ticketkhidakee.com</a></p> -->
