.bg-primary{
    background-color: #a50000 !important;
}

.text-primary{
        color: #a50000 !important;

}
.border-primary {
        border-color: #a50000 !important;

}


p{
  text-align: justify;
}
