
<body class="d-flex flex-column h-100">
    <!-- <app-navbar></app-navbar> -->
	<div class="wrapper wrapMT">
<div class="event-dt-block ptop">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content pt-0 p-2 mt-5 mt-lg-0" style="margin-top: 0px !important;padding-bottom: 30px !important;">
                    <div class="tab-pane fade show active" id="sellers" role="tabpanel">
                        <div class="privacy-main-title">
                            <h4>Delivery &amp; Shipping Policy</h4>
                        </div>
                        <div class="privacy-content">
                            <p>Upon receipt of your order, the services will be performed to you in accordance with the terms applicable to the services that you purchased. You can write to us anytime at <a href="mailto:contact@ticketkhidakee.com">contact@ticketkhidakee.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
